<head>
    <title>Edit user</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <form action='/updateUser' method='POST'>
                <label for="updateEmail">Email</label> <br> 
                <input type="text" id="newEmail" name="newEmail" placeholder={{email}}> <br> <br>
                <label for="updateFirst_name">First name</label> <br>
                <input type="text" id="newFirst_name" name="newFirst_name" placeholder={{first_name}}> <br> <br>
                <label for="updateLast_name">Last name</label> <br> 
                <input type="text" id="newLast_name" name="newLast_name" placeholder={{last_name}}> <br> <br> 
                <label for="updateAge">Age</label> <br> 
                <input type="text" id="newAge" name="newAge" placeholder={{age}}> <br> <br> 
                <label for="updateGender">Gender</label> <br>
                <label for="currentGender">Your current gender is:{{gender}}</label> <br> 
                Male<input type="radio" id="newGender" name="newGender" value=1>
                Female<input type="radio" id="newGender" name="newGender" value=2> 
                Other <input type="radio" id="newGender" name="newGender" value=3><br> <br>
                <label for="updateLocation">Location</label> <br>
                <input type="text" id="newLocation" name="newLocation" placeholder={{location}}> <br> <br>
                <label for="updatePrefferedSex">Preffered sex</label> <br>
                <label for="currentPrefferedSex">Your currently preffered Sex(s) is/are: <br> {{prefferedSex1}} <br> {{prefferedSex2}} <br> {{prefferedSex3}} </label> <br> 
                Male<input class="notsingle-checkbox" type="checkbox" id="prefferedSex" name="prefferedSex" value="1"> 
                Female<input class="notsingle-checkbox" type="checkbox" id"prefferedSex" name="prefferedSex" value="2"> 
                Other<input class="notsingle-checkbox" type="checkbox" id="prefferedSex" name="prefferedSex" value="3">  <br> <br>
                <label for="updateInterests">Interests</label> <br>
                <label for="currentInterests">Your current Interests are {{interests1}}, {{interests2}} and {{interests3}} </label>

                <label for="interests">(Select your top 3 interests)</label> <br>
                <div id="subscriber_1" class="subscriber">
                Sport<input class="single-checkbox" type="checkbox" name="interests" id="interests" value="1">
                Cooking<input class="single-checkbox" type="checkbox" name="interests" id="interests" value="2">
                Travelling<input class="single-checkbox" type="checkbox" name="interests" id="interests"value="3"> <br>
                Movies<input class="single-checkbox" type="checkbox" name="interests"id="interests" value="4">
                Books<input class="single-checkbox" type="checkbox" name="interests"id="interests" value="5">
                Art<input class="single-checkbox" type="checkbox" name="interests"id="interests" value="6"> <br>
                Partying<input class="single-checkbox" type="checkbox" name="interests"id="interests" value="7">
                Music<input class="single-checkbox" type="checkbox" name="interests"id="interests" value="8"> 
                Fashion<input class="single-checkbox" type="checkbox" name="interests"id="interests" value="9"><br> <br> 
                </div><br> <br>
                <input type="submit" id="submit" value="submit" onclick=""><br>
              </form>
              
              <a href="/newPassword">Change password</a> <br>
              <script>  
                //Code to make a maximum of 3 picks for interests
                $('.subscriber :checkbox').change(function () {
              var $cs = $(this).closest('.subscriber').find(':checkbox:checked');
              if ($cs.length > 3) {
              this.checked = false;
                }
                });
                </script>
   

    
    
    
    
    <a href="/homepage">Back</a>

   

<!-- Could not make it work with a button, so made it as a form instead...should work equally as well as with a button...however with a button it would probably just be one line of code --> 
    <form action='/deleteUser' method='POST'>
    <input type="submit" id="submit" value="Delete User" onclick="">
     </form> 
</body>