<head>
    <title>User Page</title>
</head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<body>
    
    <h1>Welcome {{first_name}}  {{last_name}}</h1> <br> 
    <p>Your email is {{email}}</p> <br>
    <p>Your last name is {{last_name}}</p> <br>
    <p>Your age is {{age}}</p> <br>
    <p>Your location is {{location}}</p> <br>
    <p>Your gender is {{gender}}</p> <br>
    <p>Your preffered sex(s) is/are: <br> {{prefferedSex1}} <br> {{prefferedSex2}} <br> {{prefferedSex3}}</p> <br>
    <p>Your interests are {{interests1}}, {{interests2}} and {{interests3}} </p> <br>

    <br>

    <form action='/editUser' method='POST'>
    <input type="submit" id="submit" value="Edit User">
    </form>

    <br>

    <form action='/logOut' method='POST'>
    <input type="submit" id="submit" value="Log out">
    </form>

    <br>

    <form action='/findYourLovePage' method='GET'>
    <input type="submit" id="submit" value="Find your Love">
    </form>

    <br>
    

<!-- Could not make it work with a button, so made it as a form instead...should work equally as well as with a button...however with a button it would probably just be one line of code --> 
    <form action='/deleteUser' method='POST'>
    <input type="submit" id="submit" value="Delete User" onclick="">
     </form> 

     <br>

    <form action='/matches' method='POST'>
    <input type="submit" id="submit" value="My matches">
    </form>
</body>