<head>
    <title>Like page</title>
</head>

<body>
    
    <p>Name: {{first_name}} {{last_name}}</p> <br>
    <p>Gender: {{gender}}</p> <br>
    <p>Age: {{age}}</p> <br>
    <p>Location: {{location}}</p> <br>
    <p>Interests: {{interests1}}, {{interests2}} and {{interests3}}</p> <br>


    <form action='/like' method='POST'>
    <input type="submit" id="submit" value="Like">
    </form>

    <form action='/dislike' method='POST'>
    <input type="submit" id="submit" value="dislike">
    </form>
   

    <form action='/homepage' method='POST'>
    <input type="submit" id="submit" value="Go back to homepage">
    </form>

    

    
</body>