<head>
    <title>My matches page</title>
</head>

<body>
    <h1>Your Matches <3</h1>
    <p>Name: {{name}}</p> <br>
    <p>Gender: {{gender}}</p> <br>
    <p>Nationality: {{nationality}}</p> <br>
    <p>Location: {{location}}</p> <br>
    <p>Preffered Sex: {{prefferedSex}}</p> <br>
    <p>Interests: {{interests}}</p> <br>

{{#if visibilityNext}}
    <form id="formNext" name="formNext" action='/next' method='POST'>
    <input style="visibility:visible"type="submit" id="next" name="next" value="Next">
    </form>
{{/if}}
{{#if visibilityPrevious}}
    <form action='/previous' method='POST'>
    <input type="submit" id="submit" value="Previous">
    </form>
{{/if}}

    <form action='/deleteMatch' method='POST'>
    <input type="submit" id="submit" value="Delete Match">
    </form>

    <a href="/homepage">My profile</a> <br>
    

    

    
</body>